@import "mixins/mixins";
@import "common/var";
@import "common/popup";
@import "button";
@import "input";

@include b(message-box) {
  display: inline-block;
  width: $--msgbox-width;
  vertical-align: middle;
  background-color: $--color-white;
  border-radius: $--msgbox-border-radius;
  border: 1px solid $--border-color-lighter;
  font-size: $--messagebox-font-size;
  box-shadow: $--box-shadow-light;
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;

  @include e(wrapper) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
  }

  @include e(header) {
    position: relative;
    padding: 10px 0 15px 0;
  }

  @include e(title) {
    font-size: $--messagebox-font-size;
    line-height: 1;
    color: $--messagebox-title-color;
    font-weight: 500;
  }

  @include e(content) {
    padding: 15px $--msgbox-padding-primary;
    color: $--messagebox-content-color;
    font-size: $--messagebox-content-font-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include e(status) {
    font-size: 100px !important;

    &.cd-icon-circle-check {
      color: $--messagebox-success-color;
    }

    // &.cd-icon-info {
    // }
    
    &.cd-icon-warning-outline {
        color: $--messagebox-warning-color;
        &.msgbox-info-icon {
            color: $--messagebox-info-color;
            transform: rotate(180deg);
      }
    }

    &.cd-icon-circle-close {
      color: $--messagebox-danger-color;
    }
  }

  @include e(message) {
    margin: 0;
    text-align: justify;

    & p {
      margin: 0;
      line-height: 24px;
    }
  }

  @include e(btns) {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .cd-button {
        width: 100%;
    }
  }
}

.msgbox-fade-enter-active {
  animation: msgbox-fade-in .3s;
}

.msgbox-fade-leave-active {
  animation: msgbox-fade-out .3s;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
